project = "my-gcp-project" # This must match your GCP project id
user = "my-username"
script_path = "startup.sh"
region = "us-central1"
zone = "us-central1-a"
machine_type = "e2-small"
service_account_email = "my-service-account-name@my-gcp-project.iam.gserviceaccount.com"
public_key_path = "~/.ssh/id_rsa.pub"
vm_names = "vm-name1"