project = "my-gcp-project" # This must match your GCP project id
script_path = "startup.sh"
region = "us-central1"
zone = "us-central1-a"
machine_type = "e2-small"
service_account_email = "my-service-account-name@my-gcp-project.iam.gserviceaccount.com"
vm_names = "vm-name1"
